html, body, .main {
    background: #13171a;
    width: 100%;
    height: auto;
    padding: 0;
    overflow-x:hidden;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    font-size: 3em;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .subtitle {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Helvetica;
    color: #ff0a5a;
    clear: both;
    margin: .9em 0;
    line-height: 1.3;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .explanation {
    color: #ffffff;
    font-family: NonBreakingSpaceOverride,"Hoefler Text",Garamond,"Times New Roman",serif;
    font-size: 19px;
    width: 60%;
  }
  .command{
    width: 40%;
    font-family: Menlo,Consolas,monaco,monospace;
    font-size: .9em;
    color: #fff300 !important;
    background: #000;
    padding: .8em 1em;
    border-radius: 4px;
  }